{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIU-matamesh | {{user.firstName|add:" "|add:user.lastName}}</title>
    {% tailwind_css %}
</head>
<body>
    <div class="w-screen h-screen overflow-hidden flex flex-col">
        <div id="big" onclick="hello()" class="absolute w-full h-full flex justify-center items-center" style="display: none; background-color: rgba(94, 94, 94, 0.7);">
            <div id="contain" class="w-1/3 h-3/4 flex flex-col bg-white rounded-3xl px-5" style="padding: 5vh 5vh 5vh 5vh;">
                
            </div>
        </div>
        <div id="pops" class="absolute w-full h-full flex justify-center items-center" style="display: none; background-color: rgba(94, 94, 94, 0.7);">
            <div class="w-2/3 h-3/4 flex bg-white rounded-3xl px-5" style="padding-top: 10px;">
                <div class="w-1/3 h-full flex flex-col">    
                    <div class="w-full flex justify-center items-center bg-gray-100 rounded-3xl" style="height: 10vh;">
                        <p class="text-2xl font-bold">Chats</p>
                    </div>
                    <div id="listdiv" class="w-full h-5/6 flex flex-col items-center rounded-2xl">
                        {% for sts in all %}
                        {% if sts != user %}
                        <div onclick="popmsgg('{{sts.stu_id}}', '{{sts.firstName}}', '{{sts.lastName}}')" class="w-full rounded-2xl mt-4 flex bg-orange-300 items-center px-8" style="height: 6vh;">
                            {% if sts.profpic.url != "" %}
                            <img src="{{sts.profpic.url}}" alt="" class="object-cover rounded-full w-12 h-12" style="margin-right: 1vh;">
                            {% else %}
                                <img src="" alt="" class="object-cover rounded-full w-12 h-12 bg-black" style="margin-right: 1vh;">
                            {% endif %}
                            <p class="ml-4">{{sts.firstName|add:" "|add:sts.lastName}}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="w-2/3 h-full flex">
                    <div class="w-full h-full flex flex-col px-4" style="padding-bottom: 3vh;">   
                        <div class="w-full bg-gray-100 flex flex-col justify-center px-8 rounded-2xl" style="height: 8vh;">
                            <p class="text-xl" id="nn"></p>
                            <p>Active now</p>
                        </div>
                        <div class="w-full h-full flex flex-col" style="padding: 2vh 0 0 0;">
                            <div id="showmsg" class="w-full flex flex-col overflow-y-auto" style="height: 50vh;">

                            </div>
                            <div class="w-full h-20">
                                <div class="w-full h-full flex justify-between">
                                    <input type="text" name="msg" id="msgg" placeholder="Enter message" class="flex justify-center w-3/4 h-3/4 rounded-3xl">
                                    <button class="bg-orange-300 rounded-2xl w-1/4 h-3/4 ml-3" data-ccsrf = '{% csrf_token %}' id="sendbtn" onclick="sendd()" >Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-1/3 absolute h-2/3 bg-gray-100 mt-28 shadow-2xl rounded-2xl flex flex-col" id="post" style="margin-left:75vh; display:none;">
            <div class="w-full h-20 flex justify-center items-center text-xl font-bold">
                <h1>Create Post</h1>
            </div>
            <div class="w-full flex flex-col items-center mt-1 ">
                <form action="{% url 'postit' user=enp %}" method="POST" class="flex flex-col">
                    {% csrf_token %}
                    <textarea name="post" class="rounded-2xl px-10 py-7 text-md" id="" cols="50" rows="15" style="resize:none"></textarea>
                    <div class="w-full flex justify-between mt-3">
                        <select name="cat" id="" class="w-1/3 flex items-center text-center rounded-2xl">
                            <option value="urgent">Urgent</option>
                            <option value="help">Help</option>
                            <option value="club">Club</option>
                            <option value="job">Job</option>
                            <option value="seek">Seeking Post</option>


                        </select>
                        <input type="submit" name="sub" id="" value="Publish" class="w-24 rounded-2xl bg-orange-400 h-12 bg-black">
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full h-24 flex items-center ">
            <div class="w-1/4 h-full flex items-center pl-9">
                <img src="{% static 'img/logo.png' %}" alt="" class="h-15 w-20">
                {% comment %} <form action="" class="w-full h-full flex items-center">
                    <input type="text" name="" id="" placeholder="Search" class="ml-4 bg-[#F0F0F0] w-3/4 rounded-3xl h-12 p-7">
                </form> {% endcomment %}
            </div>
            <div class="w-2/4 h-full flex px-40">
                <a href="{% url 'dashb' user=enp %}" class="w-1/4 h-full flex flex-col items-center justify-center hover:text-orange-500 hover:font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                      </svg>
                    <h3>Home</h3>
                </a>
                <a onclick="popupmsg()" class="w-1/4 h-full flex flex-col items-center justify-center hover:text-orange-500 hover:font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                      </svg>
                    <h3>Messages</h3>
                </a>
                <a href="{% url 'notice' user=enp %}" class="w-1/4 h-full flex flex-col items-center justify-center hover:text-orange-500 hover:font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                      </svg>
    
                    <h3>Notice</h3>
                </a>
                <a href="{% url 'club' user=enp %}" class="w-1/4 h-full flex flex-col items-center justify-center hover:text-orange-500 hover:font-bold">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" class="bi bi-building-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                        <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                      </svg>
                    <h3>Club</h3>
                </a>
            </div>
            <div class="w-1/4 h-full flex justify-end items-center px-12">
                <a href="{% url 'profile' user=enp %}">

                    {% if user.profpic.url != "" %}
                        <img src="{{user.profpic.url}}" alt="" class="object-cover rounded-full w-12 h-12" style="margin-right: 1vh;">
                    {% else %}
                        <img src="" alt="" class="object-cover rounded-full w-12 h-12 bg-black" style="margin-right: 1vh;">
                    {% endif %}
                </a>
                <a href="{% url 'logout' user=user.stu_id %}">
                    <div class="h-full flex flex-col justify-center items-center">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
                        </svg>
                        <h3>Logout</h3>
                    </div>
                </a>
            </div>

        </div>
        <div class="w-full h-full overflow-hidden flex ">

            <div class="w-1/4 h-full flex flex-col mt-3 px-9">
                <div class="w-4/5 h-1/3 bg-gradient-to-b text-md from-orange-300 to-orange-400 flex flex-col rounded-2xl">
                    <div class="w-full h-28 flex px-3 mt-5">

                        {% if user.profpic.url != "" %}
                            <img src="{{user.profpic.url}}" alt="" class="object-cover rounded-xl" style="width: 10vh; height: 10vh;">
                        {% else %}
                            <img src="" alt="" class="bg-black rounded-xl" style="width: 10vh; height: 10vh;">
                        {% endif %}
                        <div class="w-1/2 ml-2 h-24 flex flex-col justify-center font-bold text-gray-700">
                            <h3>{{user.firstName|add:" "|add:user.lastName}}</h3>
                            <h3 class="text-sm w-full">{{user.dept}}</h3>
                        </div>
                    </div>
                    <div class="flex flex-col w-3/4 h-full mt-4 px-4">
                        <div class="w-full h-fit flex text-md text-gray-700">
                            <h3 class="font-bold">Email:</h3>
                            <h3 class="ml-1">{{user.stu_id}}</h3>
                        </div>
                        <div class="w-full h-fit flex text-md text-gray-700">
                            <h3 class="font-bold">Batch:</h3>
                            <h3 class="ml-1">{{user.batch}}</h3>
                        </div>
                        <div class="w-full h-fit flex text-md text-gray-700">
                            <h3 class="font-bold">Phone:</h3>
                            <h3 class="ml-1">{{user.phone_number}}</h3>
                        </div>
                    </div>
                </div>
                <!-- end of profile overview -->

                <!-- start of notification -->
                <div class="w-4/5 bg-gray-100 mt-8 flex flex-col rounded-2xl px-4 overflow-y-auto" style="height: 50vh;">
                    <h3 class="w-1/2 h-fit text-xl mt-6 font-bold text-gray-500">Notification</h3>

                    {% for notis in noti %}
                    <div class="w-full mt-4 h-20 bg-gray-300 rounded-xl flex px-6">
                        <svg class="w-10 h-30 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 21">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M10 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C17 15.4 17 16 16.462 16H3.538C3 16 3 15.4 3 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 10 3.464ZM4 3 3 2M2 7H1m15-4 1-1m1 5h1M6.54 16a3.48 3.48 0 0 0 6.92 0H6.54Z"/>
                        </svg>
                        <div class="w-full h-full flex items-center ml-5">
                            <h3>{{notis.message}}</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="w-2/4 flex flex-col mt-3 px-14 h-full items-center rounded-2xl">
                <div class="w-5/6 bg-gray-100 rounded-2xl flex flex-col items-center" style="height: 15vh; padding: 2vh 0 0 0;">
                    <div class="flex w-full justify-center">
                        {% if user.profpic.url != "" %}
                        <img src="{{user.profpic.url}}" alt="" class="object-cover rounded-full w-12 h-12" style="margin-right: 1vh;">
                        {% else %}
                            <img src="" alt="" class="object-cover rounded-full w-12 h-12 bg-black" style="margin-right: 1vh;">
                        {% endif %}
                        <button class="w-3/4 ml-3 h-10 pl-8 text-gray-300 bg-white flex items-center rounded-2xl" onclick="popup()">Share your thoughts</button>
                    </div>
                    <div class="flex w-full items-center justify-end px-20">
                        <p class="h-full flex justify-center items-center px-6 ">Filter by category</p>
                        <select name="" id="change" class=" mt-5 h-full w-1/3 flex items-center text-center rounded-2xl">
                            <option value="urgent">Urgent</option>
                            <option value="help">Help</option>
                            <option value="club">Club</option>
                            <option value="job">Job</option>
                            <option value="seek">Seeking Post</option>


                        </select>
                    </div>
                    
                </div>
                <div id="postt" class="w-5/6 h-5/6 mt-5 px-3 rounded-2xl pb-2 overflow-y-auto">

                    <!-- createpost -->
                    {% for posts in post %}
                    {% if posts.student != user %}
                    <div  class="w-full h-fit flex flex-col rounded-2xl bg-orange-100 px-8 mt-6 mb-5">
                        <div class="w-full h-20 flex items-center">
                            {% if posts.student.profpic.url != "" %}
                        <img src="{{posts.student.profpic.url}}" alt="" class="object-cover rounded-full w-12 h-12" style="margin-right: 1vh;">
                    {% else %}
                        <img src="" alt="" class="object-cover rounded-full w-12 h-12 bg-black" style="margin-right: 1vh;">
                    {% endif %}
                            <div class="w-2/3 h-fit flex flex-col">
                                <h3 class="ml-2 text-md font-bold">{{posts.student.firstName|add:" "|add:posts.student.lastName}}</h3>
                                <div class="ml-2 w-full h-fit flex items-center">
                                    <h3 class="">{{posts.student.stu_id}}</h3>
                                    <div class="ml-2 w-20 h-fit bg-orange-400 rounded-2xl flex justify-center text-white">

                                        <p class="font-bold">{{posts.category}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onclick="bigsize('{{posts.iid}}')" class="w-full h-fit mt-2 mb-6">
                            <p>{{posts.text}}</p>
                        </div>
                        
                        <div class="w-full h-10 flex mb-5 justify-center items-center">
                            <div class="w-1/2 h-full flex">
                                <button id="{{posts.iid}}" data-user="{{user.stu_id}}" data-post="{{posts.iid}}" data-csrf='{% csrf_token %}' class="vote w-full h-full flex items-center justify-center rounded-2xl hover:text-orange-500 hover:font-bold" data-enp="{{enp}}">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.9" d="M4.008 8.714c1-.097 1.96-.45 2.792-1.028a25.112 25.112 0 0 0 4.454-5.72 1.8 1.8 0 0 1 .654-.706 1.742 1.742 0 0 1 1.65-.098 1.82 1.82 0 0 1 .97 1.128c.075.248.097.51.065.767l-1.562 4.629M4.008 8.714H1v9.257c0 .273.106.535.294.728a.99.99 0 0 0 .709.301h1.002a.99.99 0 0 0 .71-.301c.187-.193.293-.455.293-.728V8.714Zm8.02-1.028h4.968c.322 0 .64.08.925.232.286.153.531.374.716.645a2.108 2.108 0 0 1 .242 1.883l-2.36 7.2c-.288.813-.48 1.354-1.884 1.354-2.59 0-5.39-1.06-7.504-1.66"/>
                                    </svg>
                                    <h3 class="ml-2">Upvote</h3>
                                </button>
                            </div>
                            <div class="w-1/2 h-full flex items-center justify-center">
                                
                                <input type="text" name="comnt" id="{{posts.iid}}" placeholder="Enter a comment" class="koment ml-8 rounded-2xl">
                                <button class="cmnt w-full h-full flex justify-center items-center hover:text-orange-500" data-csrrf='{% csrf_token %}' data-postid="{{posts.iid}}" data-enp="{{enp}}" data-user="{{user.stu_id}}" >
                                    Comment
                                </button> 

                            </div>
                            
                            
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="w-1/4 mt-3 flex justify-end rounded-2xl h-full px-8">
                <div class="flex flex-col w-4/5 rounded-2xl bg-gray-100 px-8">
                    <div class="w-full h-14 flex items-center mt-4">
                        <h3 class="text-xl font-bold ">Active Users</h3>
                        <div class="w-3 h-3 rounded-full bg-green-500 ml-2"></div>
                    </div>
                    <!-- chatbox -->
                    <div id="chat" class="w-full h-full flex flex-col"></div>
                    <!-- {% for actib in activ %}
                    {% if actib.stu_id != user.stu_id %}
                    <div class="w-full h-14 rounded-2xl mt-4 flex px-8 bg-orange-300 items-center">
                        <img src="" alt="" class="w-10 bg-black h-10 rounded-full">
                        
                        <h3 class="text-md font-md ml-3">{{actib.firstName}}</h3>
                        
                    </div>
                    {% endif %}
                    {% endfor %} -->
                </div>
            </div>
        </div>

        

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function popup() {
            document.getElementById('post').style.display = 'block' ;
        }
        function popoff() {
            document.getElementById('post').style.display = 'none' ;
        }

        _likes = JSON.parse('{{likes|escapejs}}');
        _posts = JSON.parse('{{postJS|escapejs}}') ;
        console.log('{{user.firstName}}');
        for (var i=0; i<_likes.length; i++) {
            console.log(_likes[i].post_id);
            if (_likes[i].counter > 0) {

                document.getElementById(_likes[i].post_id).style.pointerEvents = "none";
                document.getElementById(_likes[i].post_id).style.backgroundColor = '#ffcd7f';
            }

        }

        $(document).ready(function() {
            $('.vote').on('click' ,function() {
                let data = $(this).data('post');
                let csrf = $('[name=csrfmiddlewaretoken]').val() ;
                let users = $(this).data('user');
                let enp = $(this).data('enp') ;
                console.log(csrf) ;
                $(this).css('background', "orange");
                $.ajax ({
                    type: 'POST',
                    url: "{% url 'likeit' %}",
                    data: {
                        post_id:data,
                        user: users,
                        csrfmiddlewaretoken:csrf,
                        enpp: enp,
                    },
                    success: function() {
                        console.log("HELlo") ;
                    }
                });
            });
        });

        setInterval(function() {
            $.ajax({
                type: "GET",
                url: "{% url 'refchat' user=enp %}",
                dataType:'html',
                success: function(res) {
                    $('#chat').html(res) ;
                },
            });
        }, 1000);

        

        $("#change").change(function() {
            var val = $(this).val() ;

            $.ajax({
                url: "{% url 'categorize' user=enp %}",
                data: {
                    'cat':val,
                },
                success: function(data){
                    $("#postt").html(data) ;
                }
            });
        }) ;
        // <button class="cmnt w-full h-full flex justify-center items-center hover:text-orange-500" data-csrrf='{% csrf_token %}' data-postid="{{posts.iid}}" data-enp="{{enp}}" data-user="{{user.stu_id}}" >
        //                             Comment
        //                         </button> 
        $(document).ready(function() {
            $('.cmnt').on('click', function() {
                let postid = $(this).data('postid') ;
                let enpp = $(this).data("enp");
                let user = $(this).data("user") ;
                let commentt = $(this).siblings('.koment').val() ;
                let cssrf = $('[name=csrfmiddlewaretoken]').val();
                $(this).siblings('.koment').val("") ;
                console.log(commentt);
                $.ajax({
                    type: "POST" ,
                    url: "{% url 'commentit' user=enp %}",
                    data:{
                        csrfmiddlewaretoken: cssrf,
                        postid:postid,
                        cmnt: commentt,
                    },
                    success: function() {
                        console.log(commentt) ;
                    }
                });
            });
        });

        let llb = document.getElementById("nn");
        let __idd = "" ;
        function popmsgg(idd, fname, lname) {
            llb.innerHTML = fname + " " + lname;
            __idd = idd;
        }

        let msgbox = document.getElementById('msgg') ;
        function sendd() {
            let ccs = $('[name=csrfmiddlewaretoken]').val();
            let __msg = msgbox.value ;
            msgbox.value = "" ;
            console.log(ccs) ;
            $.ajax({
                type: "POST",
                url: "{% url 'sendmsg' user=enp %}",
                data: {
                    csrfmiddlewaretoken: ccs,
                    tousr : __idd,
                    msg: __msg
                },
                success: function() {
                    console.log("Sned successfully") ;
                }
            });
        }

        
        function bigsize(str) {
            let divv = document.getElementById('big') ;
            divv.style.display = "flex" ;

            $.ajax({
                url: "{% url 'getbig' user=enp %}",
                data: {
                    post: str,
                },
                success: function(res) {
                    $('#contain').html(res) ;
                },
            });
        }
        

        function popupmsg() {
            document.getElementById("pops").style.display = "flex" ;
            setInterval(function() {
            $.ajax({
                type: "GET",
                url: "{% url 'getmsg' user=enp %}",
                dataType:'html',
                data:{
                    to_id: __idd,
                },
                success: function(res) {
                    $('#showmsg').html(res) ;
                },
            });
            }, 1000);
        }

        function hello() {
            let divv = document.getElementById('big') ;
            divv.style.display = "none" ;
        }

        function del() {
            let divv = document.getElementById('pops') ;
            divv.style.display = "none";
        }
    </script>
</body>
</html>